<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3n3vYKQHACSnpq7pUQ2LAubhUHw0TPHo</string>
	<key>GCM_SENDER_ID</key>
	<string>279085910681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.glsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-test-58395</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-58395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279085910681:ios:2c327179746e155b154608</string>
</dict>
</plist>